#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

#gameboards {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.gameboard {
    display: flex;
    width: 50px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.coordinateDiv {
    box-sizing: border-box;
    width: 10px;
    height: 10px;
}

.hit {
    background-color: red;
}

.miss {
    background-color: blue;
}

.waitForComputer {
    pointer-events: none;
}